.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header.Challenges {
  left: 20%;
}

.petWindow {
  position: absolute;
  z-index: 0;
}

.catAnimated {
  position: relative;
  top: -475px;
  z-index: 1;
  -webkit-animation: neutralAnim 2s infinite;
}

.currLevel {
  position: relative;
  top: -625px;
  left: 180px;
  z-index: 1;
}

.currHunger {
  position: relative;
  top: -653px;
  left: 280px;
  z-index: 1;
}
.currHappiness {
  position: relative;
  top: -645px;
  left: 175px;
  z-index: 1;
}
.currKnowledge {
  position: relative;
  top: -670px;
  left: 283px;
  z-index: 1;
}






